body{
    background-color: rgb(168, 97, 235);
    color:black;
    font-family: sans-serif;
    margin: 0px;
}
header {border-bottom: solid 4px red;
padding: 10px;
font-size: 32px;
color: azure;
}
section{background: yellow;
padding-bottom: 80px;
padding-top: 50px;
display: flex;
justify-content: center;
}